.categor {
  width: fit-content;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.cat-container {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.reset {
  width: fit-content;
  padding: 16px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
