/* pk ca touche pas les bords*/

.cart-container {
  padding: 30px;
  color: white;
  background-color: #31b572;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-width: 250px;
  /* marche pas de tte facon margin: 0;*/
}

.open-button {
  background: none;
  outline: none;
  border: none;
  font-weight: 600;
  padding: 0;
  width: 120px;
  margin-top: 20px;
  font-size: 16px;
}

.boutons {
  max-width: fit-content;
  padding: 4px;
  background: rgb(255, 255, 255);
  outline: none;
  border: none;
}
