.sl-container {
  list-style-type: none;
  padding: 32px;
  display: flex;
  flex-wrap: wrap;
}

.ul-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.plant-item {
  border: solid 2px black;
  border-radius: 10px;
  height: 150px;
  width: 150px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
